:root {
  --t-color: #3d86ff;
  --s-color: #c02323;
  --c-color: #f1c95d;
  --detail-color: #8bd4ff;
}

body {
  margin: 0px;
  font-family: 'Serithai', sans-serif !important;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Serithai';
  src: url('https://nnnnnnn1n1n.github.io/TSCWebsite/font/Serithai-Regular.ttf');
}
h1 {
  font-size: 5rem !important;
  margin-bottom: 5px;
  font-weight: bolder;
}
/* h1,
h2 {
  font-family: Lato;
} */
.banner {
  min-height: 60vh;
  position: relative;
  background: url('https://firebasestorage.googleapis.com/v0/b/techasomboonchai.appspot.com/o/20200725_185120.png?alt=media&token=aebb9a66-0eeb-41f4-92b5-9fcef8bbb5c7');
  background-size: cover;
}
.container-text {
  position: absolute;
  top: 20%;
  left: 5vw;
  z-index: 999;
  color: white;
}
.container-text h1 {
  text-align: left;
}
.text-center {
  text-align: center;
}
#app {
  padding-top: 10vh;
}
.detail {
  height: 50vh;
  background: linear-gradient(168deg, var(--detail-color) 55%, #ffffff 0);
}

.detail i {
  font-size: 50px;
  padding: 15px;
  border-radius: 30px;
}
.detail i:hover {
  transform: rotate(300deg);
  transition-duration: 1s;
  /* background-color: var(--c-color); */
}
.add-friend {
  background: linear-gradient(168deg, #ffffff 55%, var(--t-color) 0);
}
.contactinfo {
  background-color: var(--c-color);
}
.contact {
  background-color: var(--t-color);
}
iframe {
  min-width: 300px;
}
