:root {
  --t-color: #3d86ff;
  --s-color: #c02323;
  --c-color: #f1c95d;
  --detail-color: #8bd4ff;
  --sdark-color: #911313;
}

body {
  margin: 0px;
  font-family: 'Noto Serif Thai', serif;
  overflow-x: hidden;
}
/* @font-face {
  font-family: 'Serithai';
  src: url('https://nnnnnnn1n1n.github.io/TSCWebsite/font/Serithai-Regular.ttf');
} */
h1 {
  font-size: 5rem !important;
  margin-bottom: 5px;
  font-weight: bolder;
}
p {
  font-size: 130%;
}
/* h1,
h2 {
  font-family: Lato;
} */
.banner {
  min-height: 85vh;
  position: relative;
  background: url('https://firebasestorage.googleapis.com/v0/b/techasomboonchai.appspot.com/o/20200725_185120.png?alt=media&token=aebb9a66-0eeb-41f4-92b5-9fcef8bbb5c7');
  background-size: 170%;
  background-position: 80% center;
}
.container-text {
  position: absolute;
  top: 30%;
  left: 7vw;
  z-index: 999;
  color: white;
}
.container-text h1 {
  text-align: left;
}
.text-center {
  text-align: center;
}
#app {
  padding-top: 10vh;
}
.intro {
  height: auto;
  background: var(--sdark-color);
  /* background: linear-gradient(170deg, #1b81bd 0%, rgba(139, 212, 255, 1) 70%); */
}
.detail {
  height: 50vh;
  background: linear-gradient(168deg, var(--detail-color) 55%, white 0);
}
.detail i {
  font-size: 50px;
  padding: 15px;
  border-radius: 30px;
}
.detail i:hover {
  transform: rotate(300deg);
  transition-duration: 1s;
  /* background-color: var(--c-color); */
}
.add-friend {
  background: linear-gradient(168deg, white 55%, var(--detail-color) 0);
}
.contactinfo {
  background-color: var(--c-color);
  box-shadow: 16px 15px 0px 1px var(--t-color);
  -webkit-box-shadow: 16px 15px 0px 1px var(--t-color);
  -moz-box-shadow: 16px 15px 0px 1px var(--t-color);
}
.contact {
  background-color: var(--detail-color);
  margin-top: -5px;
  margin-bottom: -5px;
}
iframe {
  min-width: 300px;
}

@media only screen and (max-width: 587px) {
  .banner {
    background-size: cover;
    min-height: 80vh;
  }
  .container-text {
    left: 3vw;
    padding-right: 3vw;
  }
  .detail {
    height: auto;
  }
  .contactinfo {
    padding: 1rem 10px !important;
  }
  h1 {
    font-size: 3rem !important;
    margin-bottom: 55px;
  }
  h2 {
    /* font-size: 300%; */
    margin-bottom: 50px;
  }
  iframe {
    min-width: 100% !important;
  }
}
